$primaryOrange: #f28200;
$primaryBlue: #101560;
$primaryYellow: #e6ddca;
$primaryGreen: #81ac93;
$primaryBlack: rgb(70, 70, 70);
$primaryRed: rgb(199, 65, 65);
$hoverColor: #fff;
$navHeight: 90px;
$navHeightMobile: 80px;
$font1: "Nanum Pen Script", cursive;
$font2: 'Roboto', sans-serif;
