$primaryOrange: #f28200;
$primaryBlue: #101560;
$primaryLightBlue: #32325d;
$primaryYellow: #c9a163;
$primaryRed: rgb(199, 65, 65);
$hoverColor: #fff;
$navHeight: 90px;
$navHeightMobile: 80px;
$font1: "Noto Sans TC",
sans-serif;
$font2: "Noto Serif TC",
sans-serif;