@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #6b6b6b #ffffff;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 16px;
    border: 3px solid #ffffff;
}

@font-face {
    font-family: 'Blocktopia';
    src: url('@/assets/Blocktopia.ttf') format('truetype');
}